@using System.Linq

<MudNavMenu Class="mudblazor-navmenu">
    <div class="docs-nav-fader"></div>

    <MudText Typo="Typo.h6" Class="px-4">Application</MudText>
    <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">app</MudText>
    @* <MudDivider Class="my-2"/> *@

    <MudNavLink Href="/dashboard" Icon="fas fa-file-invoice">Dashboard</MudNavLink>

    @*SHOPPING CATEGORIES*@
    <MudNavGroup Title="Shopping" Icon="fas fa-shopping-cart" Expanded="false">
        <MudNavLink Href="/tshirts" Icon="fas fa-tshirt">T-shirts</MudNavLink>
        <MudNavLink Href="/shoes" Icon="fas fa-shoe-prints">Shoes</MudNavLink>
    </MudNavGroup>

    @*STORES*@
    <MudNavGroup Title="Stores" Icon="fas fa-store" Expanded="false">
        <MudNavLink Href="/clothing" Icon="fas fa-tshirt">Clothing</MudNavLink>
        <MudNavLink Href="/jewellery" Icon="fas fa-gem">Jewellery</MudNavLink>
        <MudNavLink Href="/restaurants" Icon="fas fa-utensils">Restaurants</MudNavLink>
        <MudNavLink Href="/fast-food" Icon="fas fa-hamburger">Fast Food</MudNavLink>
    </MudNavGroup>
    
    @*TRANSACTIONS*@
    <MudNavLink Href="/billing" Icon="fas fa-file-invoice">Transactions</MudNavLink>
    <MudNavGroup Title="Settings" Icon="fas fa-cog" Expanded="false">
        <MudNavLink Href="/users" Icon="fas fa-user-friends" IconColor="Color.Success">Users</MudNavLink>
        <MudNavLink Href="/security" Icon="fas fa-shield-alt" IconColor="Color.Info">Security</MudNavLink>
    </MudNavGroup>

</MudNavMenu>
<div class="docs-nav-filler"></div>