<MudNavMenu Class="mud-width-full">

    <MudNavGroup Title="Shopping" Icon="fas fa-shopping-cart" Expanded="false">
        <MudNavLink Href="/tshirts" Icon="fas fa-tshirt">T-shirts</MudNavLink>
        <MudNavLink Href="/shoes" Icon="fas fa-shoe-prints">Shoes</MudNavLink>
    </MudNavGroup>

   
    <MudNavGroup Title="Stores" Icon="fas fa-store" Expanded="false">
        <MudNavLink Href="/clothing" Icon="fas fa-tshirt">Clothing</MudNavLink>
        <MudNavLink Href="/jewellery" Icon="fas fa-gem">Jewellery</MudNavLink>
        <MudNavLink Href="/restaurants" Icon="fas fa-utensils">Restaurants</MudNavLink>
        <MudNavLink Href="/fast-food" Icon="fas fa-hamburger">Fast Food</MudNavLink>
    </MudNavGroup>
    <MudNavLink Href="/billing" Icon="fas fa-file-invoice">Transactions</MudNavLink>
    <MudNavGroup Title="Settings" Icon="fas fa-cog" Expanded="false">
        <MudNavLink Href="/users" Icon="fas fa-user-friends" IconColor="Color.Success">Users</MudNavLink>
        <MudNavLink Href="/security" Icon="fas fa-shield-alt" IconColor="Color.Info">Security</MudNavLink>
    </MudNavGroup>

</MudNavMenu>


@* <div class="top-row pl-4 navbar navbar-dark"> *@
@*     <a class="navbar-brand" href="">Server</a> *@
@*     <button class="navbar-toggler" @onclick="ToggleNavMenu"> *@
@*         <span class="navbar-toggler-icon"></span> *@
@*     </button> *@
@* </div> *@
@* *@
@* <div class="@NavMenuCssClass" @onclick="ToggleNavMenu"> *@
@*     <ul class="nav flex-column"> *@
@*         <li class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="" Match="NavLinkMatch.All"> *@
@*                 <span class="oi oi-home" aria-hidden="true"></span> Home *@
@*             </NavLink> *@
@*         </li> *@
@*     </ul> *@
@* </div> *@
@* *@
@* @code { *@
@*     private bool collapseNavMenu = true; *@
@* *@
@*     private string NavMenuCssClass => collapseNavMenu ? "collapse" : null; *@
@* *@
@*     private void ToggleNavMenu() *@
@*     { *@
@*         collapseNavMenu = !collapseNavMenu; *@
@*     } *@
@* *@
@* } *@