@page "/dynamic"


<h3 class="center">Dynamic Content</h3>

<br/>
<br/>

<MudButton OnClick="OnClickWeb" Color="Color.Primary" Variant="Variant.Filled">WAS</MudButton>
<MudButton OnClick="OnClickServer" Color="Color.Secondary" Variant="Variant.Filled">Server</MudButton>

<br/>
<br/>

<h3>@Title</h3>

<br/>
<div>@Content</div>


@code {

    private string Title { get; set; }
    private string Content { get; set; }

    private void OnClickWeb()
    {
        Title = "Web Assembly";
        Content = "Web Assembly Content";
    }

    private void OnClickServer()
    {
        Title = "Web Server";
        Content = "Web Server Content";
    }

}