@page "/products"

@inject ISearchProduct searchProduct

<h3>Search Product </h3>

<ul>
   @foreach (var prod in products)
   {
      <li>@prod.Name</li>
   }
   
</ul>

@code {

   private IEnumerable<Product> products;
   
   protected override void OnInitialized()
   {
      base.OnInitialized();

      products = searchProduct.Execute();
   }

}

