@page "/products"

@inject ISearchProduct searchProduct

<MudGrid>
    <MudPaper>
        <SearchBar></SearchBar>
    </MudPaper>
    <MudPaper>
        <MudList>
            <MudListItem>
                @foreach (var prod in products)
                {
                    <li>@prod.Name</li>
                }
            </MudListItem>
        </MudList>
    </MudPaper>
</MudGrid>

@code {

    
    private IEnumerable<Product> products;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        products = searchProduct.Execute();
    }
    

}